title = "MOM4 test"
[scheduling]
    [[dependencies]]
        graph = "mom"
[runtime]
    [[root]]
        command scripting = "rose task-run $CYLC_SUITE_REG_NAME $CYLC_TASK_NAME"
        [[[event hooks]]]
            script = "rose task-hook --shutdown-if=failed,submission_failed"
            events = succeeded,failed,submission_failed
        [[[job submission]]]
            method=pbs
        [[[directives]]]
            -l = 'ncpus=1,walltime=0:01:00,vmem=100mb'
            -j = 'oe'
